@keyframes notificationAnimation {
  0% {
    transform: none;
  }

  50% {
    transform: translateY(-5px) rotateY(360deg);
  }

  100% {
    transform: none;
  }
}

@keyframes dotAnimation {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  animation: notificationAnimation 2s ease-in-out infinite;
}

.dot {
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 15px;
  color: tomato;
  animation: dotAnimation 1s ease-in-out infinite;
}